:host {
  .navbar {
    background-color: #99c435;
    height: 120px;
    box-shadow: 2px 2px 10px #397207;
    text-shadow: 2px 2px 3px #307207;

    #logo {
      font-family: "Bungee", "Sans-Serif", cursive;
      color: white;
      font-size: 33px;

      &:hover {
        color: yellow;
        transform: scale(1.04);
      }
    }

    a.write-tweet {
      font-size: 24px;
      color: white;
      text-decoration: none;

      &:hover {
        color: yellow;
        transform: scale(1.04);
      }
    }
  }
}
